//- hero-style card
mixin showcase(color, direction, link, img, imgAlt, headerText, prjctTitle, prjctType)
    div(class=`sc-${direction}`)
        .sc-inner
            h2.sc-head #{headerText}
            a(class=`card card-${color}` href=link)
                .card-bg
                img.card-img(src=`./img/${img}?as=webp` alt=imgAlt)
                p.card-title #{prjctTitle}
                p.card-desc #{prjctType}

//- mini-card
mixin mini(color, link, img, imgAlt, title)
    a(class=`mini-${color}` href=link)
        .mini-bg
        img.mini-img(src=`./img/${img}?as=webp` alt=imgAlt)
        p.mini-title #{title}

//- micro-card
mixin micro(color, link, img, imgAlt, title, desc)
    a(class=`micro-${color}` href=link)
        .micro-bg
        img.micro-img(src=`./img/${img}?as=webp` alt=imgAlt)
        p.micro-title #{title}
        p.micro-desc #{desc}

//- itgxl release
mixin itgxl(title, year, imgUrl)
    .itgxl-detail
        img.itgxl-img(src=`./img/itg/${imgUrl}.png?as=webp` alt=`The banner art for ${title}`)
        .itgxl-info
            .itgxl-titledate
                p.text #[b.bold #{title}]
                p.tsm #{year}
            .itgxl-action
                a.itgxl-link(href=`` target="_blank" rel="noopener" title="YouTube" aria-label="Watch on YouTube")
                    include ../img/icons/youtube.svg

//- itg release
mixin itg(title, year, imgUrl)
    .itg-detail
        img.itg-img(src=`./img/itg/${imgUrl}.png?as=webp` alt=`The banner art for ${title}`)
        .itg-info
            .itg-titledate
                p.text #[b.bold #{title}]
                p.tsm #{year}
            .itg-action
                a.itg-link(href=`` target="_blank" rel="noopener" title="YouTube" aria-label="Watch on YouTube")
                    include ../img/icons/youtube.svg

//- music release
mixin music(title, year, genre, length, imgUrl, scUrl, bcUrl)
    .release-detail
        img.release-img(src=`./img/music/${imgUrl}.png?as=webp` alt=`The cover art for ${title}`)
        .release-info
            .release-top
                h3.h3.release-title #{title} #[span.text (#{year})]
                .release-genrelen
                    p.text #{genre}
                    p.text #{length}'
            .release-action
                a.release-link(href=`https://soundcloud.com/cerhythm/${scUrl}` target="_blank" rel="noopener" title="SoundCloud" aria-label="Listen on SoundCloud")
                    include ../img/icons/soundcloud.svg
                a.release-link(href=`https://cering.bandcamp.com/${bcUrl}` target="_blank" rel="noopener" title="Bandcamp" aria-label="Listen on Bandcamp")
                    include ../img/icons/bandcamp.svg