//- hero-style card
mixin showcase(color, direction, link, img, imgAlt, headerText, prjctTitle, prjctType)
    div(class=`sc-${direction}`)
        div.sc-inner
            h2.sc-head #{headerText}
            a(class=`card card-${color}` href=link)
                div.card-bg
                img.card-img(src=`./img/${img}?as=webp` alt=imgAlt)
                p.card-title #{prjctTitle}
                p.card-desc #{prjctType}

//- mini-card
mixin mini(color, link, img, imgAlt, title)
    a(class=`mini-${color}` href=link)
        div.mini-bg
        img.mini-img(src=`./img/${img}?as=webp` alt=imgAlt)
        p.mini-title #{title}

//- micro-card
mixin micro(color, link, img, imgAlt, title, desc)
    a(class=`micro-${color}` href=link)
        div.micro-bg
        img.micro-img(src=`./img/${img}?as=webp` alt=imgAlt)
        p.micro-title #{title}
        p.micro-desc #{desc}