extends ./templates/default.pug

block meta
    - const title = "home"
    - const desc = "The official website of Spencer \"CERiNG\" Gunning- a multidisciplinary designer and programmer specializing in UI/UX, graphics, and game design."

block content
    h1.intro hi there!

    mixin showcase(dir, color, image, title, role, alt, link)
        div(class=`showcase-${dir}-container`)
            p(class=`showcase-${dir}-desc`)
                block
            div(class=`showcase-${dir} showcase-${color}`)
                a.showcase-inner(href=link)
                    picture(class=`showcase-${dir}-image`)
                        source(srcset=`./img/home/${image}.png?as=webp` alt=alt type="image/webp")
                        img(src=`./img/home/${image}.png` type="image/png")
            div(class=`showcase-${dir}-detail`)
                p.showcase-title #{title}
                p.showcase-role(class=`accent-${color}`) #{role}
            div(class=`showcase-${dir}-shape`): include ./img/shape.svg

    +showcase("right", "blue", "njsrt", "NJSRT", "Project Lead", "A collage of assets used in and screenshots from the New Jersey Sight Reading Tournament", "itg")
        span i’m CERiNG, a #[span.accent-purple multidisciplinary designer] in illinois
    
    +showcase("left", "orange", "rpl", "Raritan Public Library", "Webdev + Visual Identity", "Desktop and mobile-sized screenshots of the Raritan Public Library’s website, with some promotional assets", "webdev")
        span developing #[span.accent-orange high quality interfaces], built just for your userbase
    
    +showcase("right", "pink", "arc", "Arcaea", "Level Design", "In-game screenshots of Arcaea on the Nintendo Switch and a mobile phone", "games")
        span crafting #[span.accent-pink playable experiences] for audiences on a global scale
    
    +showcase("left", "cyan", "gfx", "Commissioned Work", "Graphic Design", "Various commissioned works of graphics in different styles", "graphics")
        span and designing #[span.accent-cyan striking visuals] for a vast range of clients.

    - 
        const c2aLinks = [
            {href: "portfolio", desc: "check out my portfolio"},
            {href: "resume",    desc: "view my resume"}
        ]
    include ./includes/c2a.pug